.section-a-propos {
    .presentation {
        //display: grid;
        /*   grid-template-columns: 50px 50px 50px 50px 50px 50px;
        grid-template-rows: auto;
        grid-template-areas:
            'h3 h3 h3 img img'
            '. txt1 txt1 img img img'
            '. txt2 txt2 txt2 img'; */
        /*   grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr); */
        .img_profil {
            float: right;
            width: 55%;
            /* margin: 0; */
            margin-right: -20px;
            margin-left: -10px;
            margin-top: -85px;
            //  grid-area: img;
            /*  float: right; */
            /*    max-width: 65%;
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 5; */
        }
        h3 {
            max-width: 65%;
            text-align: left;
            //  grid-area: h3;
            /*  grid-column-start: 2;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 2; */
        }
        .text1 {
            max-width: 50%;
            letter-spacing: 0.5px;
        }
    }

    /*  .text1 {
            //   grid-area: txt1;
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .text2 {
            // grid-area: txt2;
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 5;
        } */

    .competences {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .creation-media {
            h4 {
                margin: 0;
            }
            .icons-creation {
                display: flex;
                width: 100%;
                margin: 10px 0;
                justify-content: space-between;
                //max-width: max-content;
                .logo-creation {
                    text-align: center;
                    .icons-competence {
                        max-width: 90%;
                    }
                }
            }
            .txt-competence {
                display: none;
            }
        }
        .programmation {
            h4 {
                margin: 0;
            }
            .icons-programmation {
                display: flex;
                width: 100%;
                margin: 10px 0;
                justify-content: space-between;
                //max-width: max-content;
                .logo-creation {
                    text-align: center;
                    .icons-competence {
                        max-width: 90%;
                    }
                }
            }
            .txt-competence {
                display: none;
            }
        }
    }
}
