.section-a-propos {
    .presentation {
        .img_profil {
            float: right;
            max-width: 65%;
        }
    }
    .competences {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .creation-media {
            h4 {
                margin: 0;
            }
            .icons-creation {
                display: flex;
                width: 100%;
                margin: 10px 0;
                justify-content: space-between;
                //max-width: max-content;
                .logo-creation {
                    text-align: center;
                    .icons-competence {
                        max-width: 90%;
                    }
                }
            }
            .txt-competence {
                display: none;
            }
        }
        .programmation {
            h4 {
                margin: 0;
            }
            .icons-programmation {
                display: flex;
                width: 100%;
                margin: 10px 0;
                justify-content: space-between;
                //max-width: max-content;
                .logo-creation {
                    text-align: center;
                    .icons-competence {
                        max-width: 90%;
                    }
                }
            }
            .txt-competence {
                display: none;
            }
        }
    }
}
