/* ==========================================================================
  COMPOSANTE HEADER / COMPONENT
   ========================================================================== */

header {
    color: var(--color-white);
    .header-wrapper {
        .nav-primary {
            display: flex;
            justify-content: space-between;
            margin: 0 100px;
            .header__toggle {
                display: none;
            }
            .liste-nav {
                display: flex;
                padding: 0;
                margin: 0;

                li {
                    margin-left: 50px;
                    list-style: none;
                    .nav-primary_item {
                    }
                }
            }
        }
    }
}
