/* ==========================================================================
 BUTTON / ELEMENT
 ========================================================================== */

button:not(.header__toggle) {
    color: white;
    border: none;
    border-radius: 10px;
    font-size: var(--font-size-btn);
    //background: linear-gradient(245.92deg, #f7b100 8.93%, #d800ff 94.26%);
    padding: 15px;
    position: relative;

    /* degrader */

    background: linear-gradient(245.92deg, #f7b100 8.93%, #d800ff 94.26%);
    box-shadow: inset -4px 4px 8px rgba(255, 255, 255, 0.25),
        inset 4px -4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 13.0623px;

    /*  .coinBtn {
        position: absolute;
        top: 2px;
        right: 2px;
    } */

    a {
        color: white;
    }
}
