/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1 {
    font-family: var(--font-h1);
    font-size: var(--font-size-l-h1);
    text-transform: uppercase;
    text-align: center;
    //white-space: nowrap;
}

h2 {
    font-family: var(--font-h2);
    font-size: var(--font-size-l-h2);
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: var(--font-h3-4);
    font-size: var(--font-size-l-h3);
    text-align: center;
}

h4 {
    font-family: var(--font-h3-4);
    font-size: var(--font-size-l-h4);
    font-weight: 400;
}

h5 {
    font-family: var(--font-h3-4);
    font-size: var(--font-size-l-h5);
}

h6 {
    font-family: var(--font-h6);
    font-size: var(--font-size-l-h6);
}
