/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-h1: 'Quando', serif;
    --font-h2: 'Quando', serif;
    --font-h3-4: 'Lucida Fax', sans-serif;
    --font-p: 'Open Sans', sans-serif;

    // 'Kotta One', serif;

    --font-size-content: 1rem;

    /// Grosseur des textes
    --font-size-h1: 2.25rem; //36
    --font-size-h2: 1.875rem; //36
    --font-size-h3: 1.5rem; //24
    --font-size-h4: 1.5rem; //24
    --font-size-h5: 1rem; //16
    --font-size-h6: 1.125rem; //18
    --font-size-p: 1rem; //16
    --font-size-btn: 1rem; //16
    --font-size-nav: 1rem; //16

    --font-size-l-h1: 6rem; //96
    --font-size-l-h2: 4rem; //64
    --font-size-l-h3: 2.25rem; //36
    --font-size-l-h4: 1.5rem; //24
    --font-size-l-h5: 1rem; //16
    --font-size-l-h6: 1.125rem; //18
    --font-size-l-p: 2.375rem; //38
    --font-size-l-btn: 1.125rem; //18
    --font-size-l-nav: 1.875rem; //30
}
